# Python
backend/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3

# Django
staticfiles/
media/

# Node
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/

# Environment
.env
.env.local
.env.*.local

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db